* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: greenyellow;
  color: red;
  font-size: 1.5rem;
}

.myStyle {
  background-color: red;
  color: white;
}

.otherStyle {
  text-decoration: line-through;
}
